[user]
	name = Kris Reeck
	email = kreeck@osbornwireless.net
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[core]
	autocrlf = input
	safecrlf = warn
	filemode = true
	bare = false
[color]
	ui = auto
[push]
	default = tracking
[auto]
	clrf = input
